PORT=4632

DATABASE_URL="YOUR_DATABASE_URL"

ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
JWT_SECRET=YOUR_JWT_SECRET

BACKEND_API_URL=http://localhost:4632/api/v1/share-file/public
REDIS_HOST=localhost
REDIS_PORT=6379

BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_NAME=Your Name
BREVO_SENDER_EMAIL=your-email@example.com